$main-green: hsl(150, 100%, 66%);
$main-gray: hsl(193, 38%, 86%);
$card-background: hsl(217, 19%, 38%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
  main {
    padding: 20px;
    padding-bottom: 0;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-radius: 10px;
    background-color: hsl(217, 19%, 38%);
    header h3 {
      color: $main-green;
      text-align: center;
      font-size: 0.9rem;
    }
    section {
      p {
        font-size: 28px;
        color: $main-gray;
        text-align: center;
        font-weight: 800;
        margin-top: 20px;
      }
      aside {
        position: relative;
        margin-top: 30px;
        border: 2px solid transparent;
        #hr-1 {
          color: $main-gray;
          width: 40%;
          position: absolute;
          top: 7px;
        }
        #hr-2 {
          color: $main-gray;
          width: 40%;
          position: absolute;
          top: 7px;
          right: 0;
        }
        #pattern-divider {
          display: block;
          height: 20px;
          //   border: 2px solid yellow;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
        }
      }
      footer {
        // position: relative;
        // border: 2px solid blue;
        // margin: 30px;

        aside {
          //   border: 2px solid green;
          position: relative;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          .dice-container {
            background-color: $main-green;
            position: absolute;
            // top: -30px;
            // width: 5%;
            padding: 20px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            border: 2px solid red;
            transition: background-color 0.3s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: hsl(150, 52%, 29%);
            }
            #dice {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}
